html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;

}

/* css estrutura */

.section-estrutura  {
    text-align: center; 
    background-color: rgb(244, 242, 240);
   
    
}
.titulo-nossa-estrutura h2{
    color: #236687;
    border-bottom: 0.3rem solid #622363;
    margin-top: 2.0rem;
    margin-bottom: 2.0rem; 
    
}
.texto-nossa-estrutura p{
    text-align: center;
    margin-left: 7.0rem;
    margin-right: 7.0rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-family: Roboto, sans-serif;
    line-height: 1.7rem;
    color: #505050;
}

/* arruma as divs lado a lado */
.bloco01{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 1.5rem;
    margin-left: 7rem;
    margin-right: 7rem;
}
.bloco02{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 1.5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    padding-bottom: 2rem;
}
/* arruma as divs lado a lado */

.container-slider-brinquedoteca{
    background-color:white;
    border-radius: 0.5rem;
    display: flex;
    min-height: 80vh;
    justify-content:space-between;
    align-items:center;
    width: 40%;
    gap: 1rem;
}
.div-brinquedoteca {
    position: relative;
    border-radius: 0.8rem;
    width: 30.0rem;
    display: flex;
    justify-content: center;
    align-items: top;      
}
.text-brinquedoteca {
    padding-top: 26rem;
}
.slider {
    opacity: 0;
    transition: opacity .2s;
    position:absolute;
    width: 100%;
    border-radius: 0.5rem;
}
.on {
    opacity: 1;
}
#seta-avancar, #seta-voltar {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    cursor:pointer;

}
#seta-avancar {
    transform: rotate(180deg);
}

#seta-avancar img, #seta-voltar img{
    width: 100%;
    height: 100%;

}

.text-brinquedoteca h3{
    color: #236687;
    padding-block: 0.7rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: Nunito;
}
.text-brinquedoteca p {
    text-align: center;
    margin: auto;
    display: block;
    padding-block: 0.7rem;
    font-size: 1.1rem;
    font-family: Roboto, sans-serif;
    line-height: 1.7rem;
    color: #505050;
}

/* estilo do slide playground */
.container-slider-playground {
    background-color:white;
    border-radius: 0.5rem;
    display: flex;
    min-height: 80vh;
    justify-content:space-between;
    align-items:center;
    width: 40%;
    gap: 1rem;
}
.div-playground {
    position: relative;
    border-radius: 0.8rem;
    width: 30.0rem;
    display: flex;
    justify-content: center;
    align-items: top;    
}
.text-playground {
    padding-top: 26rem;
}
.slider-playground {
    opacity: 0;
    transition: opacity .2s;
    position:absolute;
    width: 100%;
    border-radius: 0.5rem;
}
.on  {
    opacity: 1;
}
#seta-avancar-playground, #seta-voltar-playground {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    cursor:pointer;
}
#seta-avancar-playground {
    transform: rotate(180deg);
}

#seta-avancar-playground img, #seta-voltar-playground img {
    width: 100%;
    height: 100%;

}
.text-playground h3{
    color: #236687;
    padding-block: 0.7rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: Nunito;
}
.text-playground p {
    text-align: center;
    margin: auto;
    display: block;
    padding-block: 0.7rem;
    font-size: 1.1rem;
    font-family: Roboto, sans-serif;
    line-height: 1.7rem;
    color: #505050;
}

/* estilo do slide bercarios */
.container-slider-bercarios{
    background-color:white;
    border-radius: 0.5rem;
    display: flex;
    min-height: 80vh;
    justify-content:space-between;
    align-items:center;
    width: 40%;
    gap: 1rem;
}
.div-bercarios {
    position: relative;
    border-radius: 0.8rem;
    width: 30.0rem;
    display: flex;
    justify-content: center;
    align-items: top;
       
}
.text-bercarios {
    padding-top: 26rem;
}
.slider-bercarios {
    opacity: 0;
    transition: opacity .2s;
    position:absolute;
    width: 100%;
    border-radius: 0.5rem;
}
.on {
    opacity: 1;
}
#seta-avancar-bercarios, #seta-voltar-bercarios {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    cursor:pointer;

}
#seta-avancar-bercarios {
    transform: rotate(180deg);
}

#seta-avancar-bercarios img, #seta-voltar-bercarios img{
    width: 100%;
    height: 100%;

}

.text-bercarios h3{
    color: #236687;
    padding-block: 0.7rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: Nunito;
}
.text-bercarios p {
    text-align: center;
    margin: auto;
    display: block;
    padding-block: 0.7rem;
    font-size: 1.1rem;
    font-family: Roboto, sans-serif;
    line-height: 1.7rem;
    color: #505050;
}

/* estiliza o slide parkiids */

.container-slider-parkkids{
    background-color:white;
    border-radius: 0.5rem;
    display: flex;
    min-height: 80vh;
    justify-content:space-between;
    align-items:center;
    width: 40%;
    gap: 1rem;
}
.div-parkkids {
    position: relative;
    border-radius: 0.8rem;
    width: 30.0rem;
    display: flex;
    justify-content: center;
    align-items: top;
       
}
.text-parkkids {
    padding-top: 26rem;
}
.slider-parkkids {
    opacity: 0;
    transition: opacity .2s;
    position:absolute;
    width: 100%;
    border-radius: 0.5rem;
}
.on {
    opacity: 1;
}
#seta-avancar-parkkids, #seta-voltar-parkkids {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    cursor:pointer;

}
#seta-avancar-parkkids {
    transform: rotate(180deg);
}

#seta-avancar-parkkids img, #seta-voltar-parkkids img{
    width: 100%;
    height: 100%;

}

.text-parkkids h3{
    color: #236687;
    padding-block: 0.7rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: Nunito;
}
.text-parkkids p {
    text-align: center;
    margin: auto;
    display: block;
    padding-block: 0.7rem;
    font-size: 1.1rem;
    font-family: Roboto, sans-serif;
    line-height: 1.7rem;
    color: #505050;
}

.banner-verde{
    display: flex;
    background-color: rgb(20, 196, 20);
    justify-content: space-between;
    align-items: center;
}
.banner p{
    color: aliceblue;
    font-family: nunito;
    font-style: inherit;
    font-size: 1.5rem;
    text-align: justify;
    padding-block: 0.5rem;
    margin-block: 1.0rem;
    margin-left: 9.0rem;
}
.botao p{
    background-color: #622363;
    color: aliceblue;
    font-family: nunito;
    font-style: inherit;
    font-size: 1.3rem;
    text-align: justify;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    padding-left: 3.0rem;
    padding-right: 3.0rem;
    margin-right: 9.0rem;
    margin-block: 4.0rem;
    border-radius: 1.5rem;
}




