/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}  */
/* HTML5 display-role reset for older browsers */

/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;

}    */

p {
    color: #505050;
    font-size: 1.1rem;
}

.sectionPlanosServicos {
    padding: 5rem;
}

.titulo-planos-e-servicos {
    font-size: 2.5rem;
    font-weight: 600;
    color: #236687;
    text-align: center;
    margin: 0 520px;
    padding-bottom: 3px;
    margin-bottom: 2rem;
}

.border-bottom-58BB29 {
    border-bottom: 5px solid #58BB29;
}

.sombra-imagem-direita-baixo {
    box-shadow: 3px 4px 8px #622363; 
    transition: box-shadow 0.3s ease; 
    border-radius: 20px;
}

.sombra-imagem-esquerda-baixo {
    box-shadow: -3px 4px 8px #622363; 
    transition: box-shadow 0.3s ease; 
    border-radius: 20px;
}

.texto-planos {
    line-height: 1.7rem;
    margin-bottom: 2.5rem;
    text-align: center;    
}

h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #622363;
}

.sectionPlanosFFFFFF {
    padding: 5rem;
    display: flex;
    flex-direction: row;
}

.sectionPlanosFFFFFF img {
    border-radius: 20px;
}

.padding-dir-imagem {
    padding-right: 5rem;
    border-radius: 20px;
}

.h3-subtitulo {
    margin-bottom: 2rem;
}

.sectionPlanosFEEAA2 {
    background-color: #FEEAA2; 
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sectionPlanosFEEAA2 img {
    border-radius: 20px;
}

.sectionPeriodo {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: space-between;
    border: 2rem;
}

.sectionPeriodo, h2 {
    text-align: center;
    /* margin-top: 2rem; */
}

.texto-periodo {
    padding: 2rem 2rem 4rem 2rem;
}

.botao-meio-periodo {
    background-color: #17B806; 
    padding: 10px;
    border-radius: 2rem;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 900;
}

.botao-periodo-integral {
    background-color: #CA2C20; 
    padding: 10px;
    border-radius: 2rem;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 900;
}

  
