

text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-quemsomos  {
    margin-left: 22rem;
    margin-right: 22rem;
    font-family: nunito;
    justify-content: center;
    text-align: center;
    font-size: 3.0rem;
    border-bottom: 0.3rem solid rgb(20, 196, 20);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: #236687; 
}



.texto-inicio-quemsomos p  {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem;
    line-height: 1.7rem;
    text-align: justify;
    padding: 1rem;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    color: #505050;
}

.subtitulo-missao-visao h3  {
    border-bottom: 0.3rem solid rgb(20, 196, 20);
    line-height: 1.7rem;
    text-align: left;
    margin-left: 10rem;
    margin-right: 75rem;
    margin-top: 1rem;
}

.texto-missao-visao p {
text-align: left;
margin-left: 10rem;
margin-right: 10rem;
line-height: 1.7rem;
font-size: 1.1rem;
}


.banner-verde {
display: flex;
background-color: rgb(20, 196, 20);
justify-content: right;
align-items: center;
text-align: right;
line-height: 1.7rem;
min-height: 5rem;
width: 1490px;
height: 110px;
margin-top: 2rem;
margin: 1rem;
}

#banner {
    color: white;
    line-height: 1.7rem;
    font-size: 1.7rem;
    margin-right: 30rem;
}



 #btn {
    background-color: #622363;
    color: white;
    justify-content: space-between;
    border-radius: 50px;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 10rem;
    width: 350px;
    height: 60px;
   
}

 .topicos h3 {
    text-align: left;
    margin-left: 10rem;
    margin-right: 10rem;
    line-height: 1.7rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 1rem;

}

.topicos p {
    font-size: 1.1rem;
    text-align: left;
    margin-left: 10rem;
    margin-right: 10rem;
    line-height: 1.7rem;
}


footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 4rem 0;
    background-color: #F6F6F6;
}



social-midia {
    justify-content: space-between;
    display: flex;

}



h4 {
    display: flex;
    color: #622363 ;
    justify-content: space-between;
    text-align: center;
    margin-top: 1rem;
}


footer {

    display: flex;
    color: #622363;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
    justify-content: space-between;
    margin-top: 1rem;

}


footer {
    display: flex;
    color: #505050;
    line-height: 1.2rem;
    justify-content: space-between;
    width: 1490px;
    height: 135px;
    margin-top: 1rem;
    
    
}